#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "scovie"
name = "Scovie"
description.en = "Digital signage system for high schools"
description.fr = "Système d'affichage dynamique pour les lycées"

version = "0.0.6~ynh4"

maintainers = ["André Théo LAURET"]

[upstream]
license = "GPL-3.0"
code = "https://github.com/eldertek/scovie"
demo = "https://scovie.eclipse-technology.eu"

[integration]
yunohost = ">=12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "150M"
ram.build = "500M"
ram.runtime = "300M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/scovie"

    [install.init_main_permission]
    help.en = "Any YunoHost user and anonymous people from the web will be able to access the application"
    help.fr = "Tout utilisateur YunoHost et les personnes anonymes pourront accéder à l'application"
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

[resources]
    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 8000

    [resources.apt]
    packages = [
        "build-essential",
        "python3-dev",
        "python3-pip",
        "python3-venv",
        "git",
        "libpq-dev",
        "postgresql",
        "postgresql-contrib",
        "redis-server",
    ]

    [resources.database]
    type = "postgresql"
